@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto+Condensed:ital@1&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1, h2 {
	font-family: 'Lobster', cursive;
}

body {
	font-family: 'Roboto Condensed', sans-serif;
	background: #1a1a1a;
	color: #727272;
}

.wrapper {
	width: 50%;
	margin: 0 auto;
}

.todo-header {
	background-color: #fdbf50;
	padding: 20px;
}

.todo-header h1 {
	color: #fff;
	text-shadow: 4px 4px 8px #1a1a1a;
	font-size: 50px;
	text-align: center;
	margin-bottom: 20px;
}

.todo-header input {
	width: 100%;
	font-size: 20px;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	margin-bottom: 10px;
	outline: none;
}

.todo-header button {
	background-color: #1a1a1a;
	color: #fdbf50;
	text-transform: uppercase;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	border: none;
	transition: 300ms all ease-in-out;
}

.todo-header button:hover {
	background-color: #e9ede0;
	color: #333;
}

#todo-list {
	background-color: #fff;
}

#todo-list li {
	font-size: 18px;
	position: relative;
	padding: 12px 8px 12px 40px;
	cursor: pointer;
	transition: 200ms;
	user-select: none;
	list-style-type: none;
}

#todo-list li:hover {
	background-color: #aaa;
}

#todo-list li:nth-child(odd) {
	background-color: #eee;
}

#todo-list li.checked {
	background-color: #777;
	color: #fff;
	text-decoration: line-through;
}

#todo-list li.checked::before {
	content: '';
	position: absolute;
	top: 10px;
	left: 16px;
	width: 7px;
	height: 15px;
	border-color: #fdbf50;
	border-style: solid;
	border-width: 0 2px 2px 0;
	transform: rotate(45deg);
}

.remove {
	position: absolute;
	right: 0;
	top: 0;
	padding: 16px;
	border: none;
	background-color: transparent;
	cursor: pointer;
	outline: none;
}

.remove:hover {
	background-color: #fdbf50;
	color: #fff;
}